.delete {
	background-color: transparent;
	padding: var(--size-1);
	border: none;
	cursor: pointer;
	box-shadow: none;
}

.delete:hover {
	box-shadow: none;
	scale: 1.2;
}

.delete img {
	object-fit: fill;
	object-position: top;
}
