.container {
	position: relative;
	display: inline-block;
}

.listOn {
	position: absolute;
	display: block;
	z-index: 10;
	min-width: clamp(160px, fit-content, 250px);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.list-item {
	color: var(--palette-color1);
	background-color: var(--palette-color3);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.list-item:hover {
	background-color: var(--palette-color2);
}

.listOff {
	display: none;
}

.master {
	display: flex;
	flex-direction: row;
	padding-top: 5%;
	padding-bottom: 5%;
}

@media (max-width: 768px) {
	.master {
		font-size: var(--size-3);
	}

	.listOn {
		font-size: var(--size-3);
	}

	.dropdown-button {
		font-size: var(--size-3);
	}
}
