.master {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: baseline; */
}
.master p {
	font-size: var(--size-3);
}

.controls {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding-bottom: var(--size-2);
}

.controls button {
	padding: var(--size-2);
	font-size: var(--size-3);
	margin-left: var(--size-2);
	margin-right: var(--size-2);
}

@media (min-width: 768px) {
	.controls button {
		padding: var(--size-3);
		font-size: var(--size-6);
		margin-left: var(--size-3);
		margin-right: var(--size-3);
	}

	.master p {
		font-size: var(--size-5);
	}
}
