.master {
	width: 100%;
	grid-column: 2;
	display: flex;
	flex-direction: column;
	padding-top: 1%;
	padding-bottom: 1%;
}

.table {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-items: space-between;
}

.table-head {
	margin-top: 5%;
	margin-bottom: 3%;
}

.table-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 3%;
}

.table-row th {
	max-width: 12rem;
	text-wrap: wrap;
	text-align: justify;
}
